<h1>Sample Store</h1>
<p>This is your own Flash Sale</p>
<p>-----------------------</p>
<% @for_sale.each do |product|%>
  <div style="width:25%; border: 1px solid grey; display:inline-block; padding:20px">
    <h2><%=product.brand%> <%=product.item_name%></h2>
    <p>Color: <%=product.color%> </p>
    <p>Size: <%=product.size%> </p>
    <p>Original Price <%=number_to_currency(product.original_price_cents/100) %></p>
    <p>Sale Price <%=number_to_currency(product.sale_price_cents/100) %></p>
    <%= image_tag(product.photo_url, style: "width:200px") %>
  </div>
  <p>-----------------------</p>
<% end %>
